:root {
  --bg: #222831;
  --link: #4a95ff;
  --secondary: #e0edff;
  --primary: #ff5719;
  --code: #38a63e;
  --comment: #68d46d;
}

* {
  margin: 0;
}

html {
  height: 100%;
  background: var(--bg) url('./img/face.svg') no-repeat fixed right;
}

body {
  height: calc(100% - 3rem);
  padding: 1.5rem 1rem;
  color: var(--secondary);
  font: 1rem/2 'Courier New', monospace;
}

main {
  padding: 0 2rem;
  width: 100%;
  max-width: 60rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: normal;
  font-size: 2.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}


p {
  margin: 1.5rem 0;
  max-width: 40rem;
}

.banner {
  color: var(--primary);
  text-decoration: none 0.1rem;
  text-underline-offset: 10%;
}

.banner:hover {
  color: var(--link);
  text-decoration: none;
}

a {
  color: var(--primary);
  text-decoration: underline 0.1rem;
  text-underline-offset: 10%;
}
a:hover {
  color: var(--link);
  text-decoration: none;
}

.pagetitle {
        color: var(--primary);
        text-decoration: none;
}

.pagetitle:hover {
        color: var(--link);
}

ul {
  font-size: 1rem;
  list-style: none;
  padding: 0;
}

.ul1 {
	line-height: 1.5rem;
	font-size: 1rem;
	list-style: none;
	margin-left: 1.2rem;
	padding: 0;
}

.ul2 {
	line-height: 1.5rem;
	font-size: 1rem;
	list-style-type: "- ";
	margin-left: 2.7rem;
	padding: 0;
}

.ul3 {
	font-size: 1rem;
	list-style-type: "•";
	margin-left: 1.2rem;
	padding: 0;
}

.li2{
	line-height: 1.2rem;
}

pre {
  margin-left: 1rem;
  white-space: pre-line;
  color: var(--code);
  font: 1rem/1 'Courier New', monospace;
}

.comment {
  color: var(--comment);
}

.centred {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.pixelated {
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: pixelated;
}